.heading{
text-align: center;
}

.skillHead { 
    text-align: center;
}

.duties { 


.skillSet { 
    margin-left: 10cm;
}

footer{
    margin-top:10%;
    text-align: center;
}


   
}
.skillTable { 
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse; 
    border-spacing: 20px;
    font-size: 30px;
    table-layout: auto;
    
}

.headTable { 
    margin-left: auto;
    margin-right: auto;

}
.displayPic {
    border-radius: 15%;
  }
  .jumbotron { 
background-color: #f1f3f4;
padding-bottom: 5px;
text-align: center;
  }
  .jumbotron-fluid{ 
      margin-top: 35px;
      margin-left: 2%;
      margin-right:2%;
      border-radius: 20%;
      padding-left: 1%;
  }
  body{ 
      background-color:#f1f3f4}

      .fa {
        padding: 10px;
        font-size: 20px;
        width: 44px;
        text-align: center;
        text-decoration: none;
        border-radius: 10%;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }

        .fa-linkedin {
            background: #007bb5;
            color: white;
        }

.fa-instagram {
            background: #125688;
            color: white;
        }

        h2{ 
            text-align: left;
            
        }

        .techTable{ 
            margin-top: 10%;
            margin-left: auto;
    margin-right: auto;
    
        }
     


         .container {
    display: inline-block;
    position: relative;
    margin: auto; 
         }

         th { 
            display: inline-table;
            padding-bottom: 10%;
        }

        td { 
            
            
           
            margin-left: auto;
            margin-right: auto;
            position:relative;
            width: auto;
            overflow: hidden;
          
            

        } 

    .headTable { 
       padding-left: "40%"
    }

    .skillStake { 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    td { 
        background-color: #f1f3f4;
        
        
        
    }

    tr { 
        margin-right: auto;
        margin-left: auto;
    }

    body { 
        padding-left: 7%;
        padding-right: 7%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .nameHead { 
        padding-top: 5%;
    }

    .titleHead { 
        text-align: center;
    }

    .skillBox { 
        text-align: center;
        width: auto;
        font-size: 21px;
     
    }

    .techTable { 
        padding-left: 10%;
    }